{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyShop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/shop.css' %}">
    <link rel="stylesheet" href="{% static 'style/contact.css' %}">
</head>
<body>


<nav class="navbar">
    <div class="logo">MyShop</div>
    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'shop' %}">Shop</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <div class="cart">Cart</div>
</nav>


{% block content %}
{% endblock %}


<footer>
    <p>© 2026 MyShop | All Rights Reserved</p>
</footer>

</body>
</html>